<div class="mp_catalog">

    <div class="mp_catalog_title">Каталог продукции</div>
    <div class="mp_catalog_nav">
        {% for cat in all_categories %}
            <a href="{% url 'category_mp' cat.pk %}" class="mp_catalog_nav-link">{% if naw_cat|upper == cat.title|upper %}<u>{{ cat.title|upper }}</u>{% else %}{{ cat.title|upper }}{% endif %}</a>
        {% endfor %}
    </div>

    <div class="mp_catalog_inner">
        {% if products_of_category %}
            {% for product in products_of_category %}
                <div class="mp_catalog_item">
                    <div class="mp_catalog_photo"><img src="https://via.placeholder.com/306x180" alt="1"></div>
                    <div class="mp_catalog_text">{{ product.title }}</div>
                    <div class="mp_catalog_line"></div>
                    <div class="mp_catalog_line-up"></div>
                </div>
            {% endfor %}
        {% else %}
            {% for product in products %}
                <div class="mp_catalog_item">
                    <div class="mp_catalog_photo"><img src="https://via.placeholder.com/306x180" alt="1"></div>
                    <div class="mp_catalog_text">{{ product.title }}</div>
                    <div class="mp_catalog_line"></div>
                    <div class="mp_catalog_line-up"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>